/* Desktop Views ****************************/
@media only screen and (min-width: 1024px) {

    body {
        font-size: 18px;
    }

    #content {
        max-width: 2400px;
    }

    header {
        grid-template-columns: repeat(3, 1fr);
        border-color: rgb(152, 27, 168);
    }

    .topnav {
        display: none;
    }

    .primaryNav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 25px;
        justify-self: normal;
        letter-spacing: 2px;
    }

    #hero {
        grid-template-columns: repeat(2, 1fr);
    }

    #hero-msg {
        grid-column: 1;
        grid-row: 2;
        margin-left: 150px;
    }

    #background {
        height: 1000px;
    }

    .logoImg {
        width: 250px;
        height: auto;
        margin-right: 100px;
    }

    .social {
        display: flex;
        grid-column: 3/3;
        justify-content: center;
        align-items: center;
    }

    .SumCoast1 {
        grid-column: 1/6;
        grid-row: 1/2;
        padding: 10px;
    }

    .SumCoast2 {
        grid-column: 6/11;
        grid-row: 1/2;
        padding: 10px;
    }

    .Call {
        grid-column: 4/11;
        grid-row: 4/5;
        padding: 10px;
    }

    .Weather {
        grid-column: 1/3;
        grid-row: 4/5;
        padding: 10px;
    }

    .PastOrders {
        grid-column: 1/11;
        grid-row: 2/3;
    }

    #orderForm {
        grid-column: 1/11;
        grid-row: 3/4;
    }

    #outputContainer {
        grid-column: 4/8;
        grid-row: 4/5;
    }

    .smoothiePics {
        justify-content: center;
    }

    .home-title {
        font-size: 3rem;
        margin-right: 10rem;
    }

    h4 {
        font-size: 1.5rem;
        margin-right: 10rem;
    }

    .aboutUs {
        grid-row: 1/2;
        grid-column: 1/11;
        width: 100%;
        height: auto;
        justify-content: center;

    }

    .aboutUsPic {
        width: 35%;
        height: auto;
    }

    .aboutUsP {
        grid-column: 1/11;
        grid-row: 2/3;
        margin-bottom: 20px;
        padding: 25px;
    }

    .ThanksH2 {
        font-size: 3rem;
    }

    .ThanksP {
        font-size: 1.5rem;
    }
}