/* Tablet Views ******************************/
@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }

    header {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .priamryNav {
        display: none;
    }

    .logoImg {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .smoothie {
        width: 30%;
    }

    nav {
        display: flex;
    }

    .SumCoast1,
    .SumCoast2,
    .call,
    .PastOrders,
    .Weather {
        grid-column: span 2;
    }
}