@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand&display=swap');

@media (min-width: 767px) {
    .primaryNav {
        display: none;
    }
}

body {
    width: 95%;
    margin: 0 auto;
}

header {
    display: grid;
    border: solid;
    border-radius: 10px;
    border-color: #ffd700;
    justify-content: center;
    grid-template-columns: 1fr;
    align-content: center;
}

.logoImg {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: auto;
}

nav {
    display: none;
    justify-content: space-around;
    cursor: alias;
}

nav a {
    text-align: center;
    color: #ff0000;
    text-decoration: none;
    padding: 1em;
}

nav a:hover {
    background-color: #ffd700;
    color: #000000;
    transform: scale(1.1);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/* Hamburger start-------------------------*/
/* Style the navigation menu */
.topnav {
    display: block;
    overflow: hidden;
    background-color: #333;
    position: relative;
    border-radius: 10px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: #ffd700;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: rgb(152, 27, 168);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #e3ebef;
    color: grey;
}

/* Style the active link (or home/logo) */
.active {
    background-color: rgb(152, 27, 168);
    color: #e3ebef;
}

/* Hamburger end-------------------------*/

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 750px;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    color: #ffd700;
}

#hero-img {
    width: 100%;
    border: #ffd700 solid;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px;
}

.home-title {
    color: #ffd700;
    font-size: 2em;
    margin-top: 10px;
}

#hero {
    display: grid;
    margin-top: 10px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}

#hero-msg {
    grid-column: 1/3;
    grid-row: 2/2;
    justify-content: center;
    padding-right: 150px;
}

main {
    display: grid;
    grid-template-columns: repeat(1fr);
}

main section img {
    box-sizing: border-box;
}

.h2Vist{
text-align: center;
}

img {
    width: 100%;
    height: auto;
}

.SumCoast1 {
    margin: 10px 0;
    grid-column: 1/11;
    grid-row: 1/2;
}

.SumCoast2 {
    margin: 10px 0;
    grid-column: 1/11;
    grid-row: 2/3;
}

.Call {
    margin: 10px 0;
    grid-column: 1/11;
    grid-row: 3/4;
    border: solid;
    border-color: #ffd700;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #6f7364;
}

.button-box {
    text-align: center;
    border: solid #000000;
    border-radius: 5px;
    background-color: rgb(152, 27, 168);
}

.button-box:hover {
    opacity: .6;
    transform: scale(1.1);
    background-color: #0614cc;
}

.book:hover {
    background-color: #000000;
    color: #04ddfa;
}

.order {
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 20px;
    color: #ffd700;
}

.PastOrders {
    justify-content: center;
    border: solid rgb(152, 27, 168);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 10px 0;
    grid-column: 1/11;
    grid-row: 4/5;
    box-shadow: 5px 5px 10px #6f7364
}


.Weather {
    margin: 20px 0;
    grid-column: 1/11;
    grid-row: 5/6;
    border: solid;
    border-radius: 10px;
    border-color: #ffd700;
    box-shadow: 5px 5px 10px #6f7364
}

#forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img {
    border: 5px solid rgb(152, 27, 168);
    border-radius: 10px;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.home-grid {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.h1-fresh {
    grid-column: 1/11;
    grid-row: 1/1;
}

.smoothiePics {
    grid-column: 1/11;
    grid-row: 2/2;
}

.smoothie {
    width: 100%;
    height: auto;
}

#orderForm {
    text-align: left;
    grid-column: 1/11;
    grid-row: 3/4;
    justify-content: center;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid rgb(152, 27, 168);
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #ffd700;
    box-shadow: 5px 5px 10px #6f7364
}

form legend {
    color: rgb(152, 27, 168);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.formGroup {
    display: block;
    padding-top: 1rem;
    color: rgb(152, 27, 168);
    font-size: .9rem;
}

form label.formGroup input,
form label.formGroup select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 100%;
    background-color: rgba(156, 153, 153, 0.1);
}

form input.submitBtn {
    border: none;
    background-color: rgb(152, 27, 168);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    box-shadow: 4px 4px 7px gray;
    font-size: large;
}

form input.submitBtn:hover {
    background-color: #75dd7e;
    cursor: pointer;
}

form label.formGroup input:required {
    border-left: red solid 6px;
}

form label.formGroup input:required:valid {
    border-left: green solid 6px;
}

#outputContainer {
    grid-column: 1/11;
    grid-row: 4/5;
    justify-content: center;
    text-align: center;
    border: solid rgb(152, 27, 168);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 10px;
}

.aboutUs {
    grid-row: 1/2;
    grid-column: 1/11;
}

.aboutUsPic {
    width: 100%;
    height: auto;
    border: solid #ffd700;
    border-radius: 10px;
    margin: 10px;
}

.contactUs {
    grid-column: 1/11;
    grid-row: 1/3;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: rgb(152, 27, 168);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #ffd700;
    color: rgb(152, 27, 168);
}

/*----style the contact information----*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #428bca;
}

a:hover {
    text-decoration: underline;
}

.ThanksDiv {
    display: grid;
}

.ThanksMain {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 15%;
    border: rgb(152, 27, 168) solid;
    border-radius: 8px;
    margin: 5%;
    box-shadow: 4px 4px 7px gray;
    background-color: #ffd700;
}

.ThanksH2 {
    color: #04090c;
    font-size: 1.6rem;
    text-align: center;
}

.ThanksP {
    font-size: 1rem;
    font-weight: bold;
}

footer {
    background: rgb(152, 27, 168);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: #e3ebef;
    padding: 20px;
}

.social {
    display: flex;
    grid-column: 3/3;
    justify-content: center;
    align-self: center;
    margin-left: 1rem;
}

.social a {
    display: block;
    margin: -10px;
}

.social_img {
    border-radius: 8px;
    width: 50%;
    height: auto;
    box-shadow: 4px 4px 5px 0px #04090c;
}