/* Desktop Views ****************************/
@media only screen and (min-width: 768px) {
	.logo_img {
		width: 250px;
		height: auto;
		border-radius: 8px;
		margin: 8px;
	}
	.flexbox-container {
		flex-direction: row;
	}
	.flexbox-4, .flexbox-5 {
		height: 300px;
	}
}