@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Righteous&display=swap');

@media (min-width: 400px) {

    nav,
    nav a,
    nav a:link,
    nav a:visited,
    nav a:hover {
        display: none;
    }

    .spotlight-3 {
        display: none;
    }

    .Hero-img {
        width: 100%;
        height: auto;
    }

    p {
        text-align: center;
    }

    .list section {
        display: none;
        /* smaller viewports only */
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

header {
    background: #17a0df;
    color: #e3ebef;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin: 0;
}

.logo_img {
    width: 15rem;
    border-radius: 8px;
}

.m {
    font-style: italic;
    color: #0a4268;
}

nav {
    background-color: #1d80e4;
    font-size: 1.2em;
    display: flex;
}

nav a {
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: #e3ebef;
}

nav a:hover {
    color: #e3ebef;
    background-color: #0a4268;
}

.Hsection {
    border: 0;
    padding: 0.5rem;
    background-color: #17a0df;
}

/* Hamburger start-------------------------*/
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #e3ebef;
    color: grey;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #0a4268;
    color: #e3ebef;
}

/* Hamburger end-------------------------*/
/* main {
    align-items: stretch;
} */

h1 {
    color: #e3ebef;
}

.flexbox-container {
    display: block;
}

.flexbox-item {
    margin: 5px;
    border: 3px solid #333;
    background-color: #1d80e4;
    /* height: 200px; */
}

.flexbox-3 {
    text-align: center;
    font-weight: bold;
    background-image: url('/chamber/images/weatherImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background: #0a4268;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: #e3ebef;
    padding: 20px;
}

.spotlight-container {
    border: solid;
    background-color: rgb(207, 202, 202);
}

.social {
    padding-top: 15px;
}

.social_img {
    border-radius: 8px;
    border: 2px solid #333;
    box-shadow: 4px 4px 5px 0px #04090c;
}

.joinButton {
    text-align: center;
    background-color: gold;
    color: black;
    font-weight: bolder;
    padding: 10px 20px;
    margin-top: 8px;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.joinButton:hover {
    background-color: #75dd7e;
    cursor: pointer;
}

.discoverMain {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.discoverImg[data-src] {
    filter: blur(0.2em);
}

.discoverImg {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 380px;
    height: auto;
    border: 10px solid #1d80e4;
    box-shadow: 4px 4px 7px gray
}

.discoverImg:hover {
    background-color: rgb(30, 30, 32);
    color: white;
    border: 2px solid rgb(18, 18, 19);
    transform: scale(1.2);
    cursor: pointer;

}

/*-------Join Form-------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: rgba(23, 160, 223, 0.3);
}

form legend {
    color: #0636d3;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #1e07e7;
    font-size: .9rem;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(156, 153, 153, 0.1);
}

form input.submitBtn {
    border: none;
    background-color: #1d80e4;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    box-shadow: 4px 4px 7px gray;
    font-size: large;
}

form input.submitBtn:hover {
    background-color: #75dd7e;
    cursor: pointer;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*----------Thanks Page-------------*/

.ThanksDiv {
    display: grid;
}

.ThanksMain {
    display: block;
    justify-content: center;
    padding: 15%;
    border: #04090c solid;
    border-radius: 8px;
    margin: 10%;
    box-shadow: 4px 4px 7px gray;
    background-color: rgba(43, 178, 231, 0.4);
}

.ThanksH2 {
    color: #04090c;
    font-size: 1.6rem;
    margin-left: 13px;
}

.ThanksP {
    font-size: 1rem;
    font-weight: bold;
}

/*-------------Directory Page----------------*/

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

/* main {
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	max-width: 800px;
	background-color: #eee;
	font-family: Roboto, Helvetica, sans-serif;
} */

.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #1d80e4;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

article,
section {
    margin: 0.5rem;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    background-color: #1d80e4;
}

.grid section {
    flex-direction: column;
    text-align: center;
}

.grid section>* {
    margin: 0.1rem;
}

.grid {
    font-family: "Caveat", cursive;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: #bed;
}

section {
    font-size: 1.5rem;
}

section {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.9rem;
}

img {
    height: 75px;
    max-width: 100%;
    /* Images are jerks - Seattle*/
}