header {
    display: grid;
    background-color: aqua;
    border-radius: 8px;
    text-align: center;
    margin: 50px;
    width: 50%;
    height: 250px;
    margin-left: 500px;
}

img {
    width: 200px;
    border-radius: 8px;
    margin-top: -250px;
    margin-left: 530px;
}

footer {
    background-color: rgb(10, 216, 216);
    border-radius: 8px;
    text-align: center;
    margin: 275px;
    margin-left: 500px;
    width: 50%;
    height: 125px
}

h2 {
    margin-left: 500px;
    font-size: 200%
}

ul {
    margin-left: 500px;
    font-size: 175%
}